<!DOCTYPE html>
<html lang="eng">

    <head>
        <% include partials/head %>

    </head>

    <body>

        <nav class="red accent-4" role="navigation">
            <div class="nav-wrapper container">
                <a id="logo-container" href="landing.html" class="brand-logo center">Recommend Me</a>
            </div>
        </nav>

        <p>Here are some restaurants you might be looking for...</p>

        <div id="responseArea">

            <%= JSON.stringify(restaurants) %>
          
        </div>
        
    </body>

</html>