<!DOCTYPE html>
<html lang="eng">

    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
        <title>Recommend Me - Questionnaire</title>

        <!-- Compiled and minified CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
        <!-- Link for Icons -->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!-- Compiled and minified JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>

        <!-- Own JavaScript code -->
        <script type="text/javascript" src="js/scripts.js" ></script>

    </head>

    <body>

        <nav class="red accent-4" role="navigation">
            <div class="nav-wrapper container">
                <a id="logo-container" href="landing.html" class="brand-logo center">Recommend Me</a>
            </div>
        </nav>

        <p>Here are some restaurants you might be looking for...</p>

        <div id="responseArea">

            <%= winston %>
          
        </div>
        hello
    </body>

</html>