#home {
  background-image: url("/images/banner2.jpg");
  background-size: cover;
}

.teal-text {
  /* taken from StackOverflow: http://stackoverflow.com/questions/2570972/css-font-border */
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}